<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <span class="govuk-footer__licence-description">
            Site design using the <a class='govuk-footer__link' href='https://github.com/alphagov/govuk-frontend' target="_blank">GOV.UK</a> and <a class='govuk-footer__link' href='https://github.com/ministryofjustice/moj-frontend' target="_blank">MoJ</a> Design System, under the terms of the <a class='govuk-footer__link' href='https://github.com/alphagov/govuk-frontend/blob/master/LICENSE.txt'>MIT License</a>.
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link"
          href="https://github.com/wowwood/blue-site" target="_blank">
          Source Code
        </a>
      </div>
    </div>
  </div>
</footer>