{% extends "govuk/template.njk" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block pageTitle %}whatthe.blue{% endblock %}


<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#0000ff">



{% block head %}
  <link rel="stylesheet" href="/govuk-assets/govuk/govuk-frontend.min.css">
  <link rel="stylesheet" href="/style.css">
{% endblock %}

{% block header %}
  {% include "bloo-logo.html" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Hi! I'm Wren Blue. 💙✨</h1>
  {{ govukWarningText({
    text: "You can be issued a penalty if you do not read this page.",
    iconFallbackText: "Warning"
  }) }}


  {{ govukPasswordInput({
    label: {
      text: "gib me your secrets"
    },
    id: "password-input",
    name: "password"
  }) }}


  
{% endblock %}

{% block footer %}
{% include "bloo-footer.html" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/govuk-assets/govuk/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk-assets/govuk/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}