
<!--govuk frontend-->
{% extends "govuk/template.njk" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


<!--moj frontend-->
{%- from "moj/components/badge/macro.njk" import mojBadge -%}





{% block pageTitle %}whatthe.blue{% endblock %}

{% block headIcons %}
<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#0000ff">
{% endblock %}

<!-- head - css-->
{% block head %}
  <link rel="stylesheet" href="/govuk-assets/govuk/govuk-frontend.min.css">
  <link rel="stylesheet" href="/style.css">

  <!-- emoji font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
  </style>
{% endblock %}


<!--whatthe.blue header -->
{% block header %}
  {% include "bloo-header.html" %}
{% endblock %}



{% block content %}
<h1 class="govuk-heading-xl">Hi, I'm <a class="col-bloo">Blue</a> / <a class="col-wren--title">Wren</a>! <a class="emoji">💙✨</a></br>
  {{govukTag({text: "They/Them", classes: "govuk-tag--turquoise"})}} {{govukTag({text: "She/Her", classes: "govuk-tag--pink"})}} {{govukTag({text: "🏳️‍⚧️🏳️‍🌈", classes: "govuk-tag--grey emoji"})}} {{govukTag({text: "🇬🇧", classes: "govuk-tag--light-blue emoji"})}}</h1>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">I'm a UK based freelancer across a multitide of skillsets, including content production and publication, event management, and consultancy.</p>
          <p class="govuk-body">This website has a few things I've done lately, plus a place for my projects.</p>
          <p class="govuk-body">I run <a href="https://RORSAT.com" target="_blank" class="govuk-link govuk-link--no-visited-state">RORSAT</a>, which provides bespoke hardware and software solutions to the event industry. I'm also a trustee of the <a href="https://mobilephonemuseum.com" target="_blank" class="govuk-link govuk-link--no-visited-state">Mobile Phone Museum</a>, a charity dedicated to preserving their history.</p>
          {{ govukButton({
            text: "More about me",
            isStartButton: false,
            href: "/me"
          }) }}

          {{ govukTable({
    caption: "Contact me",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,

    rows: [
      [
        {
          text: "Email"
        },
        {
          html: "<a href=\"mailto:blue@whatthe.blue\" target=\"_blank\" class=\"govuk-link govuk-link--no-visited-state\">blue@whatthe.blue</a>"
        }
      ],
      [
        {
          text: "LinkedIn"
        },
        {
          html: "<a href=\"https://linkedin.com/in/ww-uk\" target=\"_blank\" class=\"govuk-link govuk-link--no-visited-state\">linkedin.com/in/ww-uk</a>"
        }
      ],
      [
        {
          text: "Fediverse"
        },
        {
          html: "<a rel=\"me\" href=\"https://glauca.space/@blue\" target=\"_blank\" class=\"govuk-link govuk-link--no-visited-state\">@blue@glauca.space</a>"
        }
      ]
    ]
  }) }}

  {{ govukInsetText({
    html: "<a href=\"/public_key.asc\" target=\"_blank\" class=\"govuk-link govuk-link--no-visited-state\">Public PGP Key</a>"
  }) }}

        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          {% include "right-bar.html" %}
        </div>
      </div>
    </main>
  </div>

  


  {{ govukWarningText({
    text: "You can be issued a penalty if you do not read this page.",
    iconFallbackText: "Warning"
  }) }}


  {{ govukPasswordInput({
    label: {
      text: "gib me your secrets"
    },
    id: "password-input",
    name: "password"
  }) }}

{% endblock %}




{% block footer %}
{% include "bloo-footer.html" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/govuk-assets/govuk/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk-assets/govuk/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}