    body.govuk-template__body {
        background-color: govuk-colour("black");
        color: govuk-colour("white");
    }

    header.govuk-header,
    div.govuk-header__container {
        border-bottom: 10px solid #1d70b8;
    }

    .app-related-items {
        border-top: 10px solid #1d70b8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .govuk-heading-xl,
    .govuk-heading-l,
    .govuk-heading-m,
    .govuk-heading-s,
    .govuk-heading-xs,
    p,
    .govuk-list {
        color: govuk-colour("white") !important;
    }

    a:link {
        color: #5694CA;
    }

    a:visited {
        color: #DA3984;
    }

    a:hover {
        color: lighten(#5694CA, 10%);
    }

    a:active {
        color: $govuk-link-active-colour;
    }

    .govuk-back-link,
    .govuk-breadcrumbs__link {
        color: govuk-colour("white") !important;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: govuk-colour("white") !important;
        }
    }

    .govuk-caption-xl {
        color: govuk-colour("grey-2");
    }

    div.govuk-panel--confirmation {
        background-color: #008F4C;
    }

    button.govuk-button {
        background-color: #008F4C;
    }

    .js-step-title-text {
        color: govuk-colour("white");
    }

    .app-step-nav-header {
        background-color: govuk-colour("black");
    }