@import "flags.css";
@import "class-banner.css";
@import "moj-badge.css";

:root {
  --grey: #b1b4b6;
  --col-std-header: #0000ff;
  --col-header: #0b0c0c;
  --col-error: #d4351c;
  --col-bloo: #1976d2;
}

[data-theme="light"] {
  --invert-img: 0;
  --col-content-bg: #fff;
  --col-footer-bg: #f3f2f1;
  --col-text: #0b0c0c;
  --col-link: #b05e58;
  --col-wren: #cd4b0a;
  --col-input-bg: #fff;
  --col-input-bord: #0b0c0c;
  --moj-badge-bg: ;
  --col-serv-r-bar: #505a5f;
}

[data-theme="dark"] {
  --invert-img: 1;
  --col-content-bg: #1e1f21;
  --col-footer-bg: #323232;
  --col-text: #fff;
  --col-link: #db7d76;
  --col-wren: #f47738;
  --col-input-bg: var(--grey);
  --col-input-bord: #fff;
  --moj-badge-bg: #fff;
  --col-serv-r-bar: var(--grey);
}

/* defining elements affected by light/dark mode */

/* text */

/* wildcards */
*[class^="govuk-body"],
*[class^="govuk-heading-"],
*[class^="govuk-footer"],
*[class^="govuk-table"],
*[class^="govuk-back-link"],
*[class^="govuk-breadcrumbs"] {
  color: var(--col-text);
}

*[class^="govuk-caption"] {
  color: var(--grey);
}

/* specific classes */

.govuk-label,
.govuk-footer__link
.govuk-footer__link:active,
.govuk-footer__link:hover,
.govuk-footer__link:link,
.govuk-footer__link:visited,
.govuk-back-link,
.govuk-back-link:active,
.govuk-back-link:hover,
.govuk-back-link:visited,
.govuk-back-link:link,
.govuk-breadcrumbs__link,
.govuk-breadcrumbs__link:active,
.govuk-breadcrumbs__link:hover,
.govuk-breadcrumbs__link:link,
.govuk-breadcrumbs__link:visited,
.govuk-inset-text {
  color: var(--col-text);
}

/* backgrounds */

.govuk-template {
  background-color: var(--col-footer-bg);
}

.govuk-template__body,
.container {
  background-color: var(--col-content-bg);
}

.govuk-footer {
  border-top: 1px solid var(--grey);
  background: var(--col-footer-bg);
}

/* specific tweaks */

/* warning text */
.govuk-warning-text__icon {
  border: 3px solid var(--col-text);
  color: var(--col-content-bg); /* colour of glyph inside circle */
  background: var(--col-text);
}

.govuk-warning-text__text {
  color: var(--col-text);
}

/* header bar colour */

.govuk-header {
  /* getting rid of the solid border at bottom, so it can be filled by bgcolor*/
  border-bottom-width: 10px;
  border-bottom: 10px solid var(--col-content-bg);
  background: var(--col-header);
}

.govuk-header__container {
  border-bottom: 10px solid;
}

.govuk-header__container::before {
  pointer-events: none;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  margin-top: 0px;
  background: var(--col-std-header);
}

body[data-page="about"] .govuk-header__container::before {
  background: var(--rainbow);
}

body[data-page="postsfirst"] .govuk-header__container::before {
  background: var(--trans);
}

body[data-page="--not-found--"] .govuk-header__container::before {
  background: var(--col-error);
}

/* moj badge bg change*/

.moj-badge {
  background-color: var(--moj-badge-bg);
}


/* colourchange.js stying */

@-webkit-keyframes colourchange {
  0% {
    background-color: var(--col-header);
  }

  5% {
    background-color: red;
  }

  33% {
    background-color: blue;
  }

  67% {
    background-color: green;
  }

  95% {
    background-color: red;
  }

  0% {
    background-color: var(--col-header);
  }
}

/* page grid wrap */

.bloo-grid-wrap {
  display: flex;
  flex-wrap: wrap;
}

.govuk-heading-l--less-bottom {
  margin-bottom: 8px;
}

.govuk-caption-m--less-bottom {
  margin-bottom: 4px;
}

/* spacing for header and tags on index page*/

.header-index {
  margin-bottom: 20px;
}

.tags-index {
  margin-bottom: 60px;
}

.tags-index span {
  margin-right: 8px;
}

/* govuk button custom colours */

.govuk-button--bloo {
  background-color: #bbd4ea;
  box-shadow: 0 2px 0 #929191;
}

.govuk-button--bloo:active,
.govuk-button--bloo:hover,
.govuk-button--bloo:link,
.govuk-button--bloo:visited {
  color: #0c2d4a;
  text-decoration: none;
}

.govuk-padding-bottom--less-5 {
  padding-bottom: -25px !important;
}

.govuk-padding-top--less-5 {
  padding-top: -25px !important;
}

.govuk-link:link,
.govuk-link--no-visited-state:link,
.govuk-link--no-visited-state:visited {
  color: var(--col-link);
}

.no-underline:link,
.no-underline:visited,
.gno-underline:hover,
.no-underline:active {
  text-decoration: none;
}

.govuk-\!-width-smol {
  width: 10% !important;
}

/* govuk notif banner custom colour */

.govuk-notification-banner--error {
  border-color: var(--col-error);
  background-color: var(--col-error);
}

/* custom colours */

.bloo-gov {
  color: #1d70b8;
}

.bloo-100 {
  color: #0000ff;
}

/* variables for global text elements - change here to change globally */

.col-bloo {
  color: var(--col-bloo);
}

.col-wren {
  color: var(--col-wren); /* meets WCAG AA (on light theme)*/
}

.col-wren--title {
  color: #f47738; /* meets WCAG AA for LARGE TEXT ONLY (on light theme)*/
}

.col-services {
  color: var(--col-serv-r-bar);
}

/*pronoun colours from tags*/

.col-pronoun-they {
  background-color: #d4ecea;
  color: #10403c;
}

.col-pronoun-she {
  background-color: #f9e1ec;
  color: #6b1c40;
}

/* fonts */

.noto-emoji-col {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.noto-emoji-light {
font-family: "Noto Emoji", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

.noto-emoji-regular {
font-family: "Noto Emoji", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.noto-emoji-medium {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-emoji-semibold {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-emoji-bold {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* invert image on dark mode */

.img-invert {
  -webkit-filter: invert(var(--invert-img));
  filter: invert(var(--invert-img));
}
