@import "flags.css";

/* banners */

.class-banner {
    text-transform: uppercase;
    font-size: 16px ;
    line-height: 1;
    text-align: center;
    padding: 6px 0;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.class-banner--not-set {
    background-color: #616161;
    color: white;
}

.class-banner--unclassified {
    background-color: #007a33;
    color: white;
}

.class-banner--controlled {
    background-color: #502b85;
    color: white;
}

.class-banner--conf {
    background-color: #0033a0;
    color: white;
}

.class-banner--s {
    background-color: #c8102e;
    color: white;
}

.class-banner--top-secret {
    background-color: #ff8c00	;
    color: black;
}

.class-banner--ts-sci {
    background-color: #fce83a;
    color: black;
}


/* header bar colour */

.govuk-header__container::before {
  pointer-events: none;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  margin-top: 0px;
  background: #0000ff;
}

body[data-page="about"] .govuk-header__container::before {
  background: var(--rainbow);
}

body[data-page="postsfirst"] .govuk-header__container::before {
  background: var(--trans);
}


/* page grid wrap */

.bloo-grid-wrap {
  display: flex;
  flex-wrap: wrap;
}


/* spacing for header and tags on index page*/

.header-index {
 margin-bottom: 20px;

}

.tags-index {
    margin-bottom: 60px;

}

.tags-index span {
  margin-right: 8px;

}

/* MoJ Badge element */
.moj-badge {
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25;
  padding: 0 5px;
  display: inline-block;
  border: 2px solid #1d70b8;
  color: #1d70b8;
  text-transform: uppercase;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.moj-badge--purple {
  border-color: #4c2c92;
  color: #4c2c92;
}

.moj-badge--bright-purple {
  border-color: #912b88;
  color: #912b88;
}

.moj-badge--red {
  border-color: #d4351c;
  color: #d4351c;
}

.moj-badge--green {
  border-color: #00703c;
  color: #00703c;
}

.moj-badge--blue {
  border-color: #1d70b8;
  color: #1d70b8;
}

.moj-badge--black {
  border-color: #0b0c0c;
  color: #0b0c0c;
}

.moj-badge--grey {
  border-color: #505a5f;
  color: #505a5f;
}

.moj-badge--large {
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

/* govuk button custom colours */

.govuk-button--bloo {
  background-color: #bbd4ea;
  box-shadow: 0 2px 0 #929191;
}

.govuk-button--bloo:active,
.govuk-button--bloo:hover,
.govuk-button--bloo:link,
.govuk-button--bloo:visited {
  color: #0c2d4a;
  text-decoration: none;
}

.govuk-padding-bottom--less-5 {
  padding-bottom: -25px !important;
}

.govuk-padding-top--less-5 {
  padding-top: -25px !important;
}

.govuk-link:link,
.govuk-link--no-visited-state:link,
.govuk-link--no-visited-state:visited {
  color: #b05e58;
}

.govuk-\!-width-smol {
  width: 10% !important;
}

/* custom colours */

.bloo-gov {
  color: #1d70b8;
}

.bloo-100 {
  color: #0000ff;
}

/* variables for global text elements - change here to change globally */

.col-bloo {
  color: #1976d2;
}

.col-wren {
  color: #cd4b0a; /* meets WCAG AA */
}

.col-wren--title {
  color: #f47738; /* meets WCAG AA for LARGE TEXT ONLY*/
}

.col-services {
  color: #505a5f;
}

/*pronoun colours from tags*/

.col-pronoun-they {
  background-color: #d4ecea;
  color: #10403c;
}

.col-pronoun-she {
  background-color: #f9e1ec;
  color: #6b1c40;
}

/* fonts */

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}
