<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="">
      <div class="govuk-footer__section govuk-grid-column">
        <!--<h2 class="govuk-footer__heading govuk-heading-m">Two column list</h2>-->
        <ul class="govuk-footer__list govuk-footer__list--columns-2">
          <li class="govuk-footer__list-item">
            <a class="inline-flex" href="//ikea.com/gb/en/p/blahaj-soft-toy-shark-30373588/" target="_blank">
              <img src="/buttons/love_blahaj.gif" alt="Love Blåhaj"></a>
            <a class="inline-flex" href="//glauca.digital/" target="_blank">
              <img src="/buttons/glauca.gif" alt="Glauca Digital"></a>
              <a class="inline-flex" href="//faelix.net/" target="_blank">
                <img src="/buttons/faelix.png" alt="Faelix"></a>
            <a class="inline-flex" href="//infernocomms.com/" target="_blank">
              <img src="/buttons/infernocomms.png" alt="Inferno Comms"></a>
              <a class="inline-flex" href="//adryd.com/" target="_blank">
                <img src="/buttons/adryd.png" alt="adryd"></a>
                <iframe src="//incr.easrng.net/badge?key=whatthe-blue" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
          </li>
        </ul>
      </div>

    <!--

        right third left in for future use if needed.

      <div class="govuk-footer__section govuk-grid-column-one-third">
        <h2 class="govuk-footer__heading govuk-heading-m">Single column list</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Navigation item 1
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Navigation item 2
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Navigation item 3
            </a>
          </li>
        </ul>
      </div>
    -->

    
    </div>
    <hr class="govuk-footer__section-break">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <span class="govuk-footer__licence-description">
          Site design using the <a class='govuk-footer__link' href='https://github.com/alphagov/govuk-frontend'
            target="_blank">GOV.UK</a> and <a class='govuk-footer__link'
            href='https://github.com/ministryofjustice/moj-frontend' target="_blank">MoJ</a> Design System, under the
          terms of the <a class='govuk-footer__link'
            href='https://github.com/alphagov/govuk-frontend/blob/master/LICENSE.txt'>MIT License</a>.
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link" href="https://github.com/wowwood/blue-site" target="_blank">
          Source Code
        </a>
      </div>
    </div>
  </div>
  </div>
</footer>