{% extends "base.html" %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
    </ol>
  </div>
  <br>
  <h1 class="govuk-heading-xl header-index"><span class="col-bloo">Blue</span>'s Posts</h1>
  <p class="govuk-body">A place for my ramblings and other written media.</p>
  <main class="govuk-main-wrapper bloo-grid-wrap">

    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
    {% for page in section.pages %}
    <div class="govuk-grid-column-one-third">
      <p class="govuk-caption-m govuk-caption-m--less-bottom">{{ page.date }}</p>
        <a class="no-underline" href="{{ page.permalink | safe }}">
        <h2 class="govuk-heading-l govuk-heading-l--less-bottom">{{ page.title }}</h2>
      </a>
        <p class="govuk-body">{{ page.description }}</p>

        </a>
    </div>
    {% endfor %}



  </main>
</div>



{% endblock content %}